@{
    Validation.RequireField("book", "You must enter a Book of scripture");
    Validation.RequireField("chapter", "A chapter is required");
    Validation.RequireField("verse", "A verse is required");
    Validation.RequireField("note", "A note is required");

    var book = "";
    var chapter = "";
    var verse = "";
    var note = "";
    var date = DateTime.Now;

    if (IsPost && Validation.IsValid())
    {
        book = Request.Form["book"];
        chapter = Request.Form["chapter"];
        verse = Request.Form["verse"];
        note = Request.Form["note"];


        var db = Database.Open("Scriptures");
        var insertCommand = "INSERT INTO Scriptures (Book, Chapter, Verse, Note, Date) Values(@0, @1, @2, @3, @4)";
        db.Execute(insertCommand, book, chapter, verse, note, date);
        Response.Redirect("~/Scriptures");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add a Scripture</title>
    <style type="text/css">
        .field-validation-error {
            font-weight: bold;
            color: red;
            background-color: yellow;
        }

        .validation-summary-errors {
            border: 2px dashed red;
            color: red;
            background-color: yellow;
            font-weight: bold;
            margin: 12px;
        }
    </style>
</head>
<body>
    <h1>Add a Scripture</h1>
    <form method="post">
        <fieldset>
            <legend>Scripture Information</legend>
            <p>
                <label for="book">Book:</label>
                <input type="text" name="book" value="@Request.Form["book"]" />
                @Html.ValidationMessage("book")
            </p>

            <p>
                <label for="chapter">Chapter:</label>
                <input type="text" name="chapter" value="@Request.Form["chapter"]" />
                @Html.ValidationMessage("chapter")
            </p>

            <p>
                <label for="verse">Verse:</label>
                <input type="text" name="verse" value="@Request.Form["verse"]" />
                @Html.ValidationMessage("verse")
            </p>

            <p>
                <label for="note">Note:</label>
                <input type="text" name="note" value="@Request.Form["note"]" />
                @Html.ValidationMessage("note")
            </p>

            <p><input type="submit" name="buttonSubmit" value="Add Scripture" /></p>
        </fieldset>
    </form>
</body>
</html>